* {
  transition: 0.25s ease;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
  }

::-webkit-scrollbar-thumb { 
  background-color: #b6b6b6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #212121;
    filter: invert(0.8) hue-rotate(180deg);
  }

  .linked-image {
    filter: invert(1) brightness(1.1) saturate(160%) hue-rotate(180deg);
  }

  ::-webkit-scrollbar-track {
    background: #212121;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-color: #212121;
    border: 3px solid #212121;
  }
}

audio {
  width: 300px;
  height: 40px;
}

.image-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.image-collection a {
  position: relative;
}

.image-collection a .linked-image {
  border-radius: 10%;
}

.image-collection a:hover {
  filter: brightness(65%);
  transform: scale(1.05);
}

.image-collection a:hover .eye-icon {
  filter: opacity(1);
}
