/* general */

* {
  transition: 0.25s ease;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* dark-mode */

@media (prefers-color-scheme: dark) {
  body {
    background: #212121;
    filter: invert(0.8) hue-rotate(180deg);
  }

  .linked-image {
    filter: invert(1) brightness(1.1) saturate(160%) hue-rotate(180deg);
  }

  ::-webkit-scrollbar-track {
    background: #212121;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-color: #212121;
    border: 3px solid #212121;
  }
}

/* audio */

audio {
  width: 300px;
  height: 40px;
}

/* text */

.open {
  color: limegreen;
  font-weight: bold;
  cursor: pointer;
}
.maybe {
  color: orange;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
.done {
  color: red;
  text-decoration: line-through;
  font-weight: bold;
  cursor: pointer;
}
.none {
  font-weight: bold;
}

.open:hover,
.maybe:hover,
.done:hover {
  color: #0077d2;
  text-decoration: underline;
}

/* image-collection */

.image-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.image-collection a {
  position: relative;
}

.image-collection a .linked-image {
  border-radius: 10%;
}

.image-collection a:hover {
  filter: brightness(65%);
  transform: scale(1.05);
}

.image-collection a:hover .eye-icon {
  filter: opacity(1);
}

/* masonry-grid */

.masonry {
  columns: 1;
  column-gap: 20px;
}

@media (min-width: 300px) {
  .masonry {
    columns: 1;
  }
}

@media (min-width: 600px) {
  .masonry {
    columns: 2;
  }
}

@media (min-width: 900px) {
  .masonry {
    columns: 3;
  }
}

.masonry-item {
  background-color: #f0f0f0;
  padding: 20px;
  break-inside: avoid;
  margin-bottom: 20px;
}

.masonry-item h3 {
  margin-top: 0;
}

.masonry-item ul {
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.masonry-item a:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.masonry-item a {
  text-decoration: none;
}

.masonry-item a:hover {
  text-decoration: underline;
}
